node_modules
frontend/.vscode
.idea
queries
frontend/server/assets/_locales/

*.exe
*.test
backend/bin/
backend/tmp/

.env
.env.local
*.pem
*.key
.DS_Store
Thumbs.db
.output/
.nuxt/
dist/
*.log
coverage/
